.textbook-container {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 5px red;
<<<<<<< Updated upstream
  position: absolute;
<<<<<<< Updated upstream
=======
  top: var(--top-height);
=======
  display: grid;
  grid-template-columns: 10% 90%;
}

.textbook-items {
  width: 100%;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-pic:hover {
  cursor: pointer;
}

.search {
  max-width: 40%;
  padding-top: 20px;
}

/*
.search_dropdown {
  height: 20vh;
  max-width: 40%;
  padding-top: 20px;
  margin-left: 5%;
  position: relative;
} */
/* 
.searchbar {
  display: flex;
  height: 20vh;
  max-width: 40%;
  padding-top: 20px;
  margin-left: 30%;
  position: relative;
} */
